<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>โดนแดกออนไลน์ Show by ID</title>
</head>
<body>
    <h1> <a href="http://localhost:5000/">DonDak Online</a></h1>
    <table>
        <tr>
            <th>id</th>
            <th>date</th>
            <th>type</th>
            <th>number</th>
            <th>reward</th>
        </tr>
        <% lottery.forEach(function(number) { %>
        <tr>
            <td><%= number.id %></td>
            <td><%= number.date %></td>
            <td><%= number.type %></td>
            <td><%= number.number %></td>
            <td><%= number.reward %></td>
        </tr>
        <% }) %>
    </table>
</body>
</html>